.navbarbrand1 {
  text-align: center;
}

.heading2{
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}
.heading4{
  text-align: center;
}
.table{
  font-size: 60%;
}
.zap1{
    font-family: 'Do Hyeon', sans-serif;
}
.zap2{
    font-family: 'Do Hyeon', sans-serif;
}
.zap3{
    font-family: 'Do Hyeon', sans-serif;
}
.zap4{
    font-family: 'Do Hyeon', sans-serif;
}
