.navbar-brand {
  font-family: 'Russo One', sans-serif;
  width: 100%;
}
h5 {
  text-align: center;
}
.btn btn-danger {
  text-align: center;
}

h4 {
  text-align: center;
}
.HEAD4 {
  font-family: 'Russo One', sans-serif;

}
.LAST4 {
  font-family: 'Russo One', sans-serif;
}
.alt5 {
  font-family: 'Russo One', sans-serif;
}
