#title {
  background-color: #e94560;
}

h1 {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #e94560
}
.container {
  background-color: #f4f4f4;
}
h4 {
  text-align: center;
font-family: 'Russo One', sans-serif;
}
.nav2 {
  font-family: 'Russo One', sans-serif;
  align-content: center;
}
head1 {
  text-align: center;
}
.paragraph1 {
  text-align: center;
  color:red;
}

.image1{
  text-align: center;
}


.PMT3 {
  color: #e94560
}
.nav2 {
  text-align: center;
}